*{
    box-sizing: border-box;
    font-style: italic;
}
::-webkit-scrollbar{
    width: 7px;
    background-color: rgb(75, 117, 104);
    border-radius: 7px;
}
::-webkit-scrollbar-thumb{
    background-color:rgb(139, 148, 145);
    border-radius: 7px;
}

/* /////////////Haeder/////////////////////////////////// */

#head{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    background-color: rgb(62, 139, 114); 
    box-shadow: rgb(79, 99, 61) 1px 1px 1px 1px;
    font-weight: 500;
    font-style: italic;
    position:fixed;
    width: 100%;
    height: 70px;
    z-index: 100;
}
#head a{
    text-decoration: none;
}
.active{
color: rgb(236, 6, 178);
}
#head1{
    width: 50%;
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
}
/* #logo{
    background-color: rgb(185, 143, 143);
} */
#head1 img{
    width: 50px;
    border-radius: 25px;
    height: 50px;
}
#head2{
    width: 30%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.bt{
    /* border: 1px solid black; */
    padding: 3px 5px;
    border-radius: 4px;
    background-color: rgb(192, 226, 119);
    border: none;
    box-shadow: rgb(20, 19, 19) 1px 1px 1px 1px;
}
.bt:hover{
    color: blue;
    background-color: rgb(138, 228, 47);
}

/* ////////////////HomePage///////////////////////// */

#home{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    padding: 30px 30px;
    background-color: rgb(133, 131, 130);
    padding-top: 90px;
    background-image: url('./assets/bg.jpg') ;
    background-position: center;
    background-size: cover;
 
}
#dis{
/* border: 1px solid rgb(47, 92, 255); */
margin: 1% 10%;
padding:30px 40px;
border-radius: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* background-color: rgb(192, 175, 148); */
box-shadow: rgb(4, 78, 9) 2px 2px 2px 2px;

}
#tours{
    /* border: 1px solid rgb(47, 95, 255); */
    margin: 0% 5%;
    padding: 1% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(80, 70, 81);
    font-weight: bold;
    opacity: .8;
}

/* ////////////////////About///////////////////////////////////////////////// */

#about{
   padding-top: 90px;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 30px;
}
#abt{
    display: flex ;
    flex-direction: row;
}
@media only screen and (max-width: 800px){
    #abt{
        flex-direction: column;
    }
}

/* ////////////////Store//////////////////////////// */

#store{
    background-color: rgb(141, 158, 159);
    /* border: 3px solid rgb(123, 255, 0); */
    padding-top: 130px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px,300px));
    justify-content: center;
    align-items: center;
    grid-gap :2rem;
       
}
#card{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   /* border: 2px solid black; */
   background-color: rgb(241, 208, 166);
   box-shadow: rgb(45, 38, 38) 2px 2px 2px 2px;
   border-radius: 7px;
}
#image{
    display: flex;
    justify-content: center;
    /* border: 1px solid red;  */
    width: 100%;
    height: 200px;
}
#image img{
    border-radius: 7px;
}
#box{
/* border: 1px solid red; */
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
padding: 10px 4px;
}
#addBtn{
    background-color: rgb(174, 231, 116);
    border-radius: 4px;
    box-shadow: rgb(17, 17, 17) 1px 1px 1px 1px;
    border: none;
}

/* ///////////CART////////////////////////////// */

#cart{
    padding-top: 90px;
    border: 3px solid red;
    padding-bottom: 20px;

}
#cartItem{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
    box-shadow: black 1px 1px 1px 1px ;
    background-color: rgb(221, 225, 230);
}

/* //////////////Contacts///////////////////// */






#error{
    padding-top: 90px;
}


#access{
    padding-top: 90px;
}